<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <header>
      <a href="accueil.html"><img src="../images/Bbook.svg" alt="logo" width="200" height="200"></a>
      <nav>
        <a href="accueil.html">Accueil</a>
        <a href="contact.html">Contact</a>
      </nav>
    </header>
    <section>
      <article>
        <div class="articleApropos">
          <img src="../images/biblio.jpg" alt="biblio">
          <div class="articleAproposTexte">
            <h1>À propos</h1>

            <h2>Qui sommes-nous ?</h2>

            <p>
              Bbook est un site qui regroupe les livres les plus lus chaque année mais pas que !
              Nous mettons à votre disposition toutes les infos de chacun d'entre eux pour que vous vous fassiez votre propre idée.
              Le titre, le genre,... et même le prix moyen auquel on trouve chaque livre.
              Et tout ça, nous le faisons gratuitement ! Aucun frais n'est demandé pour voir telle ou telle info !
            </p>

            <h2>Quel genre trouver sur notre site ?</h2>

            <ul>
              <li>Romance</li>
              <li>Horreur</li>
              <li>Fantaisie</li>
              <li>Humour</li>
              <li>Biographie</li>
              <li>Policier</li>
              <li>Science-Fiction</li>
              <li>Psychologique</li>
              <li>Fantastique</li>
              <li>Historique</li>
              <li>Aventure</li>
            </ul>

            <h2>Bonus</h2>

            <p>
              Complétez le <a href="formulaire.html">formulaire</a> pour recevoir une liste de romans selon vos goûts !
            </p>


          </div>
        </div>

        <article>

          <h1 class="toptrois">Notre Top 3</h1>

          <table>

            <caption>

            </caption>

            <thead>

              <tr>

                <th scope="col" colspan="2">Titre</th>
                <th scope="col" colspan="2">Couverture</th>
                <th scope="col">Genre</th>
                <th scope="col">Résumé</th>
                <th scope="col">Prix</th>

              </tr>

            </thead>
            <tbody>

              <tr>

                <td colspan="2"><h2>Le courant de la rivière Han</h2><h4>Sisnet Valérie</h4></td>
                <td colspan="2"><img src="../images/courant_riviere_han.png" alt="couverture rivière Han" ></td>
                <td>Psychologique</td>
                <td><p>Anne est une jeune fille qui se retrouve en hôpital psychiatrique à Séoul.
                        Tous les jours se ressemblent et semblants ennuyeux. Et pourtant...
                        par delà sa fenêtre, le courant, lui, semble ne pas s'ennuyer.
                        La jeune fille se demande ce que cela ferait d'être aussi libre que toute cette eau...</p></td>
                <td>€16,50</td>

              </tr>

              <tr>

                <td colspan="2"><h2>Le soir d'Halloween</h2><h4>Vallet Morine</h4></td>
                <td colspan="2"><img src="../images/soir_halloween.png" alt="Le soir d'Halloween" ></td>
                <td>Horreur</td>
                <td><p>Au milieu de son lieu de vacances, Harry sent que ces fêtes païennes sont plus que
                        de simples superstitions venant des habitants. Les taches rouges suspectes qu'il découvre
                        le lendemain de son arrivée ne font que confirmer ses soupçons...</p></td>
                <td>€15,99</td>

              </tr>

              <tr>

                <td colspan="2"><h2>Juste entre toi et moi</h2><h4>Rodriguès Alyzée</h4></td>
                <td colspan="2"><img src="../images/toi_moi.png" alt="juste entre toi et moi" ></td>
                <td>Romance</td>
                <td><p>Rose se souvient du vieux jeu d'échecs de son granp-père. À l'époque, elle n'en trouvait pas l'uilité.
                        Mais ceci, c'était avant le retour de son ami d'enfance qui n'a de cesse de s'amuser à la défier.
                        Malheureusement pour James, Rose déteste perdre.</p></td>
                <td>€16,20</td>

              </tr>

            </tbody>

          </table>
        </article>
      </article>
    </section>
    <footer>
      <h4>@Bbook</h4>

      <!--le # pour revenir en haut de la page-->

      <a href="#"><h6>Revenir en haut de la page</h6></a>
    </footer>
  </body>
</html>
