<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <header>
      <a href="accueil.html"><img src="../images/Bbook.svg" alt="logo" width="200" height="200"></a>
      <nav>
        <a href="accueil.html">Accueil</a>
        <a href="contact.html">Contact</a>
      </nav>
    </header>

    <section>

      <article>
        <div class="conteneurContact">
          <h1>Contactez-nous</h1>
          <div>
            <img class="imagesContact" src="../images/icone-instagram.png" alt="icone instagram">
            <a href="https://instagram.com">Instagram</a>
          </div>
          <div>
          <img class="imagesContact" src="../images/icone_facebook.png" alt="icone facebook">
          <a href="https://facebook.com">Facebook</a>
          </div>
          <div>
          <img class="imagesContact" src="../images/icone_mail.png" alt="icone mail">
          <a href="https://gmail.com">bbook@site.be</a>
          </div>
        </div>
      </article>
    </section>
    <footer>
      <h4>@Bbook</h4>

      <!--le # pour revenir en haut de la page-->

      <a href="#"><h6>Revenir en haut de la page</h6></a>
    </footer>
  </body>
</html>
